main div{
    border: 1px solid #000;
    background-color: gray;
    padding: 2px;
}
main div div{
    background-color: antiquewhite;
}
main div div div {
    background-color: aquamarine;
}
main div div div div{
    background-color: azure;
}
main div div div div div{
    background-color: chartreuse;
}
li{
    list-style: none;
}
li:nth-child(1) a{
    color: green;
}
li:nth-child(even){
    font-size: 20px;
}
li:nth-child(3n+1){
    background-color: yellow;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: yellow;
}
li::before{
    content: '\2013';
}